In [42]:
import numpy as np
import pandas as pd
import base64

In [43]:
def enterRecords(n):
    userdata = []
    for i in range(n):
        first_name = input("Enter first name: ")
        last_name = input("Enter last name: ")
        phone = input("Enter phone number: ")

        userdata.append({'first_name': first_name,
                        'last_name': last_name, 'phone': phone})
    return userdata

In [53]:
def phon_mask(phone_number):
    return phone_number[:2]+'*'*(len(phone_number)-2)

def encode_mask(phone_number:str):
    phone_encode_stream = phone_number.encode('utf-8')
    return base64.b64encode(phone_encode_stream)  


def decode_mask(phone_number):
    return base64.b64decode(phone_number).strip().decode()

In [54]:
records = enterRecords(1)
df = pd.DataFrame(records)

In [55]:
df['phone'] = df['phone'].apply(encode_mask)
df

  first_name last_name            phone
0     Aniket      wagh  b'OTI5MjkyOQ=='

In [56]:
df['phone'] = df['phone'].apply(decode_mask)
df

  first_name last_name    phone
0     Aniket      wagh  9292929

In [57]:
df

  first_name last_name    phone
0     Aniket      wagh  9292929